// JumboTron Section 
.section-jumbotron{
  .jumbotron-title{
    width: 80%;
    margin-left: 10%;
    padding: 2% 0%;
  }
  .jumbotron-text{
    width: 80%;
    font-size: 18px;
    margin-left: 10%;
    padding-bottom: 5%;
  }
}
