
body{
  background-color: #ff8e8e;
}
// JumboTron Section 
.section-jumbotron{
  .jumbotron-fluid{
    background-color: #828282;
  }
  .jumbotron-title{
    width: 80%;
    margin-left: 10%;
    padding: 2% 0%;
    color: #f6f6f6;
  }
  .jumbotron-text{
    width: 80%;
    font-size: 18px;
    margin-left: 10%;
    padding-bottom: 5%;
    color:#c9c9c9;
  }
}

// Main Section
.section-main{
  // img main boxes
  .section-img{
    .box{ 
      height: 12em;
      background-color: #fff;
      margin: 1%;
    }
  }
  // secondary section
  .section-secondary{
    padding: 1%;
    margin: 1%;;
    height: 30em;
    background-color: saddlebrown;
    .inner-col{
      padding: 2%;
      ul{
        height: 30em;
        li{
          height: 8em;
          padding: 1%;
        }
      }
    
    }
  }
  // sidebar section
  .section-sidebar{
    margin-top: 1%;
    padding: 1%;
    height: 12em;
    background-color: purple;
    max-width: 80%;
  }
}